<div class="registration-section">
  <h2>Registration Form</h2>
  <br>
  <form (ngSubmit)="register()" [formGroup]="registrationForm">
    <div class="form-entry">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" required>
    </div>
    <br>
    <div class="form-entry">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
      <div
        *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)"
        class="error">
        <div *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required.</div>
        <div *ngIf="registrationForm.get('email')?.errors?.['email']">Invalid email format.</div>
      </div>
    </div>
    <br>
    <div class="form-entry">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" required>
    </div>
    <br>
    <div class="form-entry">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
    </div>
    <div *ngIf="registrationForm.get('password')?.value !== registrationForm.get('confirmPassword')?.value"
      class="error">
      Passwords do not match
    </div>
    <br>
    <button type="submit" [disabled]="registrationForm.invalid">Register</button>
  </form>
  <div class="error" *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>