<div class="about-page">
    <h1>About Page</h1>
    <img src="assets/about.jpg" alt="About Image" class="about-image">
    <p>Welcome to our application!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt justo quis felis ultricies aliquam.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Mauris
        sit amet lacinia ipsum. Fusce in sem et lectus pharetra sodales vitae ut ligula. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas. Donec pharetra consectetur eros eu rhoncus.
        Cras iaculis ullamcorper lacus ac lacinia. Nam cursus auctor dolor vitae pellentesque.</p>
</div>