<div class="login-container">
  <div class="login-section">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password">
      </div>
      <button type="submit">Login</button>
    </form>
    <br>
    <br>
    <div>
      <a class="register" href="/registration" target="_self">New User</a><br>
      <a class="register" href="/passreset" target="_self">Forgot Password?</a>
    </div>
  </div>
</div>