.certificate-container{
    width: 800px;
    height: 400px;
    background-color: #e8edef;
    padding: 30px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    border: 5px solid #3b95a3;
}
.title{
    font-style: italic;
    font-family: serif;
}