.quiz-page{
    position: absolute;
    top:40px;
    left:0;
    right: 0;
}

/* navstyle.css */

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #0b2a31;
    color: #e8f0f2;
  font-size: 14px;
  font-weight: 600;

     }
  
  .menu li {
    display: inline-block;
  }
  
  .menu li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: #a2aaec;
  }
  
  .menu li a.active {
    background-color: #1976d2;
    font-weight: bold;
  }
  
  .link {
    font-weight: bold;
  }